.not-found-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found-img{
    width: 400px;
}
.h3{
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
}