.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 1rem;
    font-family: sans-serif;
    
  }
  .table .table-headings,th{
    background-color: #eff0f0
  }
  .table td {
    text-align: center;
    padding: 15px 30px;
  }
  .table th {
    text-align: center;
    padding: 15px 30px;
  }
  .table tr{
    border-bottom:1px solid #ddd;
  
  }