.home-main-container{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.input-search{
    width: 85vw;
    height: 35px;
    align-self: center;
    font-weight: 500;
    padding: 20px;
    border-radius: 7px;
    font-size: 17px;
}
.forecast-div{
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}
.filter{
    border-radius: 5px;
    border: 1px #abb0b0 solid;
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    height: 35px;
    overflow: hidden;
}
.image-filter{
    border-radius: 5px;
    border: 1px #abb0b0 solid;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    overflow: hidden;
}
.day-para{
    cursor: pointer;
}
.filter-color{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #72a0b0 !important;
    color: white;
}
.forecast-card-container{
    align-self: center;
}
.today-container{
    align-self: center;
    margin-top: 30px;
}
.day-container{
    border-radius: 10px;
    border: 1px solid #95eaf5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 50px;
}
.day-main-container{
    width: 85vw;
    align-self: center;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weekly-table{
    width: 85vw;
    align-self: center;
    margin-top: 30px;
}
.temperature-units{
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  .temperature-units p{
    border: 1px solid rgb(173, 173, 173);
    padding: 3px 10px; 
    cursor: pointer;
  }
  .temperature-units p:first-child{
    border-radius: 4px 0 0 4px;
  }
  .temperature-units p:last-child{
    border-radius: 0 4px 4px 0 ;
  }
  .active{
    background-color: #95eaf5;
  }
  .videosDiv1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .products-loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  .button6 {
    background-color: #00306e;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 34px;
    width: 110px;
    border-width: 0px;
    color: white;
  }
  .img10 {
    width: 400px;
  }
  .line-chart{
    width: 82vw;
    border: black 1px solid;
    align-self: center;
    margin-top: 30px;
    padding: 20px;
  }