.forecast-container{
    background-color: #3360a3;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 78vw;
}
.head-container{
    display: flex;
    align-items: center;
    color: #dce0e0;
    justify-content: space-around;
}
.head-left-container{
    display: flex;
}
.head-right-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
}
.weather-image{
    width: 130px;
    height: 130px;
}
.sunday-class{
    margin-bottom: 0px;
    font-size: 45px;
}
.rain-para{
    margin-top: 0px;
    font-size: 20px;
}
.weather-sub-image{
    height: 80px;
    width: 80px;
    margin-bottom: 0px;
}
.weekly-cloud{
    color: #dce0e0;
}
.weekly-para{
    margin-top: 0px;
    margin-bottom: 5px;
}
.forecast-body-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    
}